[Desktop Entry]

# The type as listed above
Type=

# The version of the desktop entry specification to which this file complies
Version=

# The name of the application
Name=

# A comment which can/will be used as a tooltip
Comment=

# The path to the folder in which the executable is run
Path=

# The executable of the application, possibly with arguments.
Exec=

# The name of the icon that will be used to display this entry
Icon=

# Describes whether this application needs to be run in a terminal or not
Terminal=

# Describes the categories in which this entry should be shown
Categories=